<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Users table</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container" >
    <div class="row" style="background-color: #343a40;">
        <div class="col" style="color: white;font-size: 20px;">
            <span th:text="${profile}"></span> with roles:
            <span th:text="${role_profile}"></span>
        </div>
        <div class="col-1" style="text-align: right;">
            <form th:method="GET" th:action="@{/logout}">
                <button type="submit" style="background: none; color: #6c757d; border: none; padding: 0; cursor: pointer; font-size: 20px;">
                    Logout
                </button>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="row" style="font-size: 18px;background-color: deepskyblue;border-radius: 5px;">
                <form th:method="GET" th:action="@{/admin/getAllUsers}">
                    <button type="submit" style="background: none; color: white; border: none; padding: 0; cursor: pointer; font-size: 20px;">
                        Admin
                    </button>
                </form>
            </div>
            <div class="row" style="font-size: 18px;background-color: white;border-radius: 5px;">
                <form th:method="GET" th:action="@{/user}">
                    <button type="submit" style="background: none; color: deepskyblue; border: none; padding: 0; cursor: pointer; font-size: 20px;">
                        User
                    </button>
                </form>
            </div>
        </div>
        <div class="col-11">
            <h1>Admin panel</h1>
            <div class="row">
                <div class="col-2">
                    <form th:method="GET" th:action="@{/admin/refresh}">
                        <button type="submit" style="background: none; color: deepskyblue; border: none; padding: 0; cursor: pointer;">
                            Users table
                        </button>
                    </form>
                </div>
                <div class="col-3" style="border-radius: 5px;border: 1px solid silver;">New User</div>

                <div class="col-11">
                <form th:method="POST" th:action="@{/admin/saveUser}" th:object="${user}" style="text-align: center;border: 1px solid silver;border-radius: 5px;">

                    <div class="row-cols-2" style="font-size: 24px; font-weight: bold;border: 1px solid silver;border-radius: 5px;"> Add new user </div>

                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" th:field="*{username}" required>
                                 <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Ошибка</span>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="text" class="form-control" id="password" th:field="*{password}" required>
                                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Ошибка</span>
                            </div>
                            <div class="mb-3">
                                <label for="age" class="form-label">Age</label>
                                <input type="text" class="form-control" id="age" th:field="*{age}" required>
                                <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Ошибка</span>
                            </div>

                            <div class="mb-3">
                                <label for="role" class="form-label">Role</label>
                                <select class="form-select form-select-lg mb-1" aria-label=".form-select-lg example" name="role" id="role">
                                    <option selected value="ROLE_USER">User</option>
                                    <option value="ROLE_ADMIN">Admin</option>
                                    <option value="ROLE_ADMIN,ROLE_USER">Admin and User</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <button type="submit" style="background-color: green; color: white; border-radius: 5px;font-size: 24px; padding: 4px 10px">
                                    Add new user
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>