<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Traveler, welcome spring boot not security page!</h1>
<form th:method="GET" th:action="@{/login}">
    <button type="submit">Login</button>
</form>
<br>
<form th:method="GET" th:action="@{/formRegistration}">
    <button type="submit">Registration</button>
</form>
<br>
<form th:method="GET" th:action="@{/logout}">
    <button type="submit">Logout</button>
</form>
</body>
</html>