<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-parameter" data-th-content="${_csrf.getParameterName()}">
    <meta name="csrf-header" data-th-content="${_csrf.getHeaderName()}">
    <meta name="csrf-token" data-th-content="${_csrf.getToken()}">
    <title>Rest Table</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<div class="container" >
    <!--Панель пользователь и logout-->
    <div class="row" style="background-color: #343a40;">
        <div class="col" style="color: white;font-size: 20px;">
            <span th:text="${profile}"></span> with roles:
            <span id="role_profile" th:text="${role_profile}"></span>
        </div>
        <div class="col-1" style="text-align: right;">
            <form th:method="GET" th:action="@{/logout}">
                <button type="submit" style="background: none; color: #6c757d; border: none; padding: 0; cursor: pointer; font-size: 20px;">
                    Logout
                </button>
            </form>
        </div>
    </div>
    <!--Боковая панель и панель админа(пользователя)-->
    <div class="row mt-3">
        <!--Боковая панель-->
        <div class="col">
            <!--Админ-->
            <div id="adminPanelDiv" class="row" style="font-size: 18px;background-color: deepskyblue;border-radius: 5px;">
                <button id="adminPanelBut" type="submit" class="btn btn-warning adminPanelBut-btn" data-action="adminPB"
                        style="background: none; color: white; border: none; padding: 0; cursor: pointer; font-size: 20px;">
                    Admin
                </button>
            </div>
            <!--Пользователь-->
            <div id="userPanelDiv" class="row" style="font-size: 18px;background-color: white;border-radius: 5px;">
                <button id="userPanelBut" type="submit" class="btn btn-warning userPanelBut-btn" data-action="userPB"
                        style="background: none; color: deepskyblue; border: none; padding: 0; cursor: pointer; font-size: 20px;">
                    User
                </button>
            </div>
        </div>
        <!--Панель админа-->
        <div id="adminPanel" class="col-11">
            <h1>Admin panel</h1>
            <div class="row">
                <!-- Переключатель таблицы-->
                <div class="col-2">
                    <button type="button" class="btn btn-warning table-btn" id="userTable" data-action="table"
                            style="border-radius: 5px;border: 1px solid silver;">
                        Users Table
                    </button>
                </div>
                <!-- Переключатель добавления пользователя-->
                <div class="col-2">
                    <button type="button" class="btn btn-warning save-btn" id="newUser" data-action="save"
                            style="background: none; color: deepskyblue; border: none; padding: 0; cursor: pointer;">
                        New User
                    </button>
                </div>
                <!-- Таблица-->
                <div id="tablePage">
                    <div class="row-cols-2" style="font-size: 24px; font-weight: bold;border: 1px solid silver;border-radius: 5px;"> All users </div>
                    <table class="table" style="border: 1px solid silver;border-radius: 5px;">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Password</th>
                        <th scope="col">Age</th>
                        <th scope="col">Role</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody id="userTableBody"></tbody>
                </table>
                </div>
                <!-- Добавление пользователя-->
                <div id="newUserPage" hidden="hidden">
                    <form id="saveUser" style="text-align: center;border: 1px solid silver;border-radius: 5px;">
                        <div class="row-cols" style="font-size: 24px; font-weight: bold;border: 1px solid silver;border-radius: 5px;"> Add new user </div>
                        <div class="row">
                            <div class="col-4"></div>
                            <!--Добавление пользователя-->
                            <div class="col-4">

                                <div class="mb-3">
                                    <label for="saveUsername" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="saveUsername" name="username" required>
                                </div>
                                <div class="mb-3">
                                    <label for="saveUserPassword" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="saveUserPassword" name="password" required>
                                </div>

                                <div class="mb-3">
                                    <label for="saveUserAge" class="form-label">Age</label>
                                    <input type="number"  class="form-control" id="saveUserAge" name="age" required min="1">
                                </div>

                                <div class="mb-3">
                                    <label for="saveUserRole" class="form-label">Role</label>
                                    <select class="form-select form-select-lg mb-1" aria-label=".form-select-lg example"
                                            id="saveUserRole" name="role" multiple required>
                                        <option th:each="role : ${roles}"
                                                th:value="${role.getName()}"
                                                th:text="${role.getName()}">
                                        </option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <button type="submit" id="saveUserForm" class="btn btn-primary"
                                            style="background-color: green; color: white; border-radius: 5px;font-size: 24px; padding: 4px 10px">
                                        Add new user
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--Панель пользователя-->
        <div id="userPanel" class="col-11" hidden="hidden">
            <h1>User information-page</h1>
            <!-- Таблица-->
            <table class="table" style="border: 1px solid silver;border-radius: 5px;">
                <div class="row-cols-2" style="font-size: 24px; font-weight: bold;border: 1px solid silver;border-radius: 5px;"> About user </div>
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">Age</th>
                    <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.password}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${role_profile}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--Модальное окно-->
<div class="modal fade" id="myEdit" tabindex="-1" aria-labelledby="ModalLabelEdit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabelEdit">User editor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="userForm" >
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                    <input type="text" class="form-control" id="usernameOld" name="usernameOld" hidden="hidden">
                    <input type="text" class="form-control" id="passwordOld" name="passwordOld" hidden="hidden">

                    <div class="mb-3">
                        <label for="editUserId" class="form-label">ID</label>
                        <input type="text" class="form-control" id="editUserId" name="id" readonly >
                    </div>

                    <div class="mb-3">
                        <label for="editUsername" class="form-label">Username</label>
                        <input type="text" class="form-control" id="editUsername" name="username" required>
                    </div>

                    <div class="mb-3">
                        <label for="editUserPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="editUserPassword" name="password" required>
                    </div>

                    <div class="mb-3">
                        <label for="editUserAge" class="form-label">Age</label>
                        <input type="number" class="form-control" id="editUserAge" name="age" required>
                        </div>

                    <div class="mb-3">
                        <label for="editUserRole" class="form-label">Role</label>
                        <select class="form-select form-select-lg mb-1" aria-label=".form-select-lg example"
                                id="editUserRole" name="role" multiple required>
                            <option th:each="role : ${roles}"
                                    th:value="${role.getName()}"
                                    th:text="${role.getName()}">
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" id="editUserForm" class="btn btn-primary" form="userForm">Save changes</button>
                <button type="submit" id="deleteUserForm" class="btn btn-primary" form="userForm">Delete</button>
            </div>
        </div>
    </div>
</div>

<!--Основной скрипт-->
<script>
    $(document).ready(function () {

        <!--Скрипт скрытия кнопки 'admin' боковой панели-->
        {
            const userProfile = $('#role_profile').text();
            if (userProfile === 'ROLE_USER') {
                $('#adminPanel').hide();
                $('#userPanel').show().prop('hidden', false);
                document.getElementById('adminPanelBut').style.display = 'none';
            }
            if (userProfile === 'ROLE_ADMIN') {
                $('#adminPanel').show();
                $('#userPanel').hide().prop('hidden', true);
                document.getElementById('userPanelBut').style.display = 'none';
            }
        }
        loadUsers();
        // Заполнение таблицы
        function loadUsers() {
            fetch('/rest/getUsers')
                .then(response => response.json())
                .then(data => {
                    const userTableBody = $('#userTableBody');
                    userTableBody.empty();
                    data.forEach(user => {
                        userTableBody.append(`
                                <tr>
                                   <td>${user.id}</td>
                                   <td>${user.username}</td>
                                   <td>${user.password}</td>
                                   <td>${user.age}</td>
                                   <td>${user.rolesName}</td>
                                   <td>
                                       <button type="button" id="editUserBut" class="btn btn-warning edit-btn" data-action="edit" data-user-id="${user.id}" data-bs-toggle="modal" data-bs-target="#myEdit"
                                            style="background-color: cadetblue; color: white; border-radius: 5px; width: 60px;height: 40px;">
                                                Edit
                                       </button>
                                   </td>
                                   <td>
                                       <button type="button" id="deleteUserBut" class="btn btn-danger delete-btn" data-action="delete" data-user-id="${user.id}" data-bs-toggle="modal" data-bs-target="#myEdit"
                                            style="background-color: crimson; color: white; border-radius: 5px; width: 70px; height: 40px">
                                               Delete
                                       </button>
                                   </td>
                               </tr>
                        `);
                    });
                })
                .catch(error => console.error('Error loading users:', error));
        }
        // Открытие модального окна в зависимости от нажатой кнопки(Edit, Delete)
        $(document).on('click', '.edit-btn, .delete-btn', function () {
        const userId = $(this).data('user-id');
        let action = $(this).data('action');

        fetch(`/rest/user?id=${userId}`)
            .then(response => response.json())
            .then(user => {
                $('#usernameOld').val(user.username);
                $('#passwordOld').val(user.password);

                $('#editUserId').val(user.id);
                $('#editUsername').val(user.username);
                $('#editUserPassword').val(user.password);
                $('#editUserAge').val(user.age);
                $('#editUserRole').val(user.rolesName);
                $('#myEdit').modal('show');

                if(action === 'edit') {
                    $('#editUsername').prop('readonly',false);
                    $('#editUserPassword').prop('readonly',false);
                    $('#editUserAge').prop('readonly',false);
                    $('#editUserRole').prop('disabled',false);

                    $('#editUserForm').show();
                    $('#deleteUserForm').hide();
                    $('#userForm').data('action', 'editUserForm');
                } else if(action === 'delete') {

                    $('#editUsername').prop('readonly',true);
                    $('#editUserPassword').prop('readonly',true);
                    $('#editUserAge').prop('readonly',true);
                    $('#editUserRole').prop('disabled',true);

                    $('#editUserForm').hide();
                    $('#deleteUserForm').show();
                    $('#userForm').data('action', 'deleteUserForm');
                }
            })
            .catch(error => console.error('Error fetching:', error));
        });
        // Обработка отправки формы редактирования
        $('#userForm').on('submit', function (event) {
            event.preventDefault(); // Предотвращаем стандартное поведение формы
            const action = $(this).data('action');
            const csrfToken = document.querySelector("meta[name='csrf-token']").content;
            let url, method, body;

            if (action === 'deleteUserForm') {
                const deleteUser  = $('#editUserId').val();
                url = `/rest/remove?id=${deleteUser}`;
                method = 'POST';
            } else if (action === 'editUserForm') {
                const updatedUser  = {
                    id: $('#editUserId').val(),
                    username: $('#editUsername').val(),
                    password: $('#editUserPassword').val(),
                    age: $('#editUserAge').val(),
                };
                const usernameOld = $('#usernameOld').val();
                const passwordOld = $('#passwordOld').val();
                const roles = $('#editUserRole').val();
                url = `/rest/update?usernameOld=${encodeURIComponent(usernameOld)}&passwordOld=${encodeURIComponent(passwordOld)}&roles=${encodeURIComponent(roles)}`;
                method = 'PUT';
                body = JSON.stringify(updatedUser ); // Преобразуем объект в JSON
            }

            fetch(url, {
                method: method,
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': csrfToken// Добавляем CSRF токен для защиты
                },
                body: body // Включаем тело запроса только для PUT
            })
                .then(response => {
                    if (response.ok) {
                        $('#myEdit').modal('hide'); // Закрываем модальное окно
                        loadUsers(); // Обновляем список пользователей
                    } else {
                        console.error('Error:', response.status, response.statusText);
                        alert('Error updating user'); // Сообщение об ошибке
                    }
                })
                .catch(error => console.error('Error updating user:', error)); // Обработка ошибок
        });
        // Обработка отправки формы добавления
        $('#saveUser').on('submit', function (event) {
            event.preventDefault();
            const button = document.getElementById('userTable');
            const csrfToken = document.querySelector("meta[name='csrf-token']").content;
            const user = {
                username: $('#saveUsername').val(),
                password: $('#saveUserPassword').val(),
                age: $('#saveUserAge').val(),

            };
            const roles = $('#saveUserRole').val();
            console.log(roles);
            fetch(`/rest/create?roles=${encodeURIComponent(roles)}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': csrfToken // Добавляем CSRF токен для защиты
                },
                body: JSON.stringify(user)
            })
                .then(response => {
                    if (response.ok) {

                        $('#saveUsername').val('');
                        $('#saveUserPassword').val('');
                        $('#saveUserAge').val('');
                        $('#saveUserRole').val('');

                        button.click();
                        loadUsers();
                    } else {
                        console.error('Error:', response.status, response.statusText);
                        alert('Error updating user'); // Сообщение об ошибке
                    }
                })
                .catch(error => console.error('Error save user:', error)); // Обработка ошибок
        });
        // Переключатель отображения таблицы и формы добавления пользователя
        $(document).on('click', '.save-btn, .table-btn' , function () {
            let action = $(this).data('action');
            if(action === 'table') {
                $('#tablePage').show();
                $('#newUserPage').hide().prop('hidden',true);

                $('#userTable').css({
                    'background': 'white',
                    'color': 'black',
                    'padding': '0',
                    'cursor': 'pointer',
                    'border': '1px solid silver',
                    'border-radius': '5px'
                });
                $('#newUser').css({
                    'background': 'none',
                    'color': 'deepskyblue',
                    'border': 'none',
                    'padding': '0',
                    'cursor': 'pointer'
                });
            } else if(action === 'save') {
                $('#tablePage').hide();
                $('#newUserPage').show().prop('hidden',false);

                $('#userTable').css({
                    'background': 'none',
                    'color': 'deepskyblue',
                    'border': 'none',
                    'padding': '0',
                    'cursor': 'pointer'
                });

                $('#newUser').css({
                    'background': 'white',
                    'color': 'black',
                    'padding': '0',
                    'cursor': 'pointer',
                    'border': '1px solid silver',
                    'border-radius': '5px'
                });
            }
        });
        // Переключатель панелей админа и пользователя
        $(document).on('click', '.adminPanelBut-btn, .userPanelBut-btn' , function () {
            let action = $(this).data('action');
            if(action === 'adminPB') {
                $('#adminPanel').show();
                $('#userPanel').hide().prop('hidden',true);

                $('#adminPanelBut').css({
                    'color': 'white',
                });
                $('#adminPanelDiv').css({
                    'background-color': 'deepskyblue'
                });
                $('#userPanelBut').css({
                    'color': 'deepskyblue',
                });
                $('#userPanelDiv').css({
                    'background-color': 'white'
                });

            } else if (action === 'userPB') {
                $('#adminPanel').hide();
                $('#userPanel').show().prop('hidden',false);

                $('#adminPanelBut').css({
                    'color': 'deepskyblue',
                });
                $('#adminPanelDiv').css({
                    'background-color': 'white'
                });
                $('#userPanelBut').css({
                    'color': 'white',
                });
                $('#userPanelDiv').css({
                    'background-color': 'deepskyblue'
                });
            }
        });
    });
</script>
<!--Библиотеки-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>